body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
}

/* Contenedor del mapa */
#map {
    width: 70%;
    height: 100vh;
}




/* Panel de control de rutas */
#sidebar {
    width: 30%;
    background: #f4f4f4;
    height: 100vh;
    overflow-y: scroll;
    border-right: 2px solid #ccc;
}

#rutas{
    padding: 10px;
}

h3 {
    margin-top: 0;
    text-align: center;
}

/* Checkbox estilizado */
label {
    display: block;
    margin: 5px 0;
    cursor: pointer;
}




#imagen-fileteado{
    width: 100%;
}



/* ===== ESTILOS DE LAS IMAGENES/ICONOS DE LAS RUTAS =====  */
.route {
    display: inline-block;
    margin: 0px;
    cursor: pointer;
    transition: transform 0.3s ease, filter 0.3s ease;
}

.route svg {
    width: 60px;
    height: 60px;
    transition: opacity 0.3s ease;
}

/* Estilo cuando la ruta está seleccionada */
.route.selected svg {
    opacity: 1; /* Imagen en su color original */
    filter: none; /* Restablecer el filtro si está seleccionado */
    transform: scale(1.1); /* Agrandar ligeramente la imagen */
}

/* Estilo cuando la ruta NO está seleccionada */
.route svg {
    opacity: 0.6; /* Imagen atenuada */
    filter: grayscale(100%); /* Convertir la imagen a escala de grises */
}

/* Animación suave cuando se hace click */
.route.selected svg {
    opacity: 1; /* Restaurar la opacidad a su estado original */
    filter: none; /* Eliminar el filtro gris */
    transform: scale(1.1); /* Aumentar un poco la imagen al seleccionarla */
}